<p>Modify these settings for this <b>Lutron Graphic Eye QS</b> lighting unit.
<ul>
    <li>Where <b>Serial ID</b> is: the Lutron interface's serial ID number (8 digits).</li>
    <li>Where <b>Scene Label</b> is: a friendly name for touch panels.</li>
    <li>Where <b>Scene Value</b> is: <i>SerialID:Pn.</i></li>
    <li>Please make sure to create each scene via Lutron's keypad.</li>
</ul>
</p>

<form editable-form name="appForm" onaftersave="vm.saveData()">
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <legend><span>Lutron Graphic Eye QS</span></legend>
                <dl class="dl-horizontal">
                    <div data-ng-repeat="controller in vm.data.controllers">
                        <dt>Serial ID {{ $index+1 }}</dt><dd>{{ controller.value || "empty" }}</dd>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-1">
                            <dt>Scene Label</dt>
                        </div>
                        <div class="col-md-7">
                            <dt>Scene Value</dt>
                        </div>
                    </div>
                    <div class="row" data-ng-repeat="scene in vm.data.scenes">
                        <div class="col-md-4">
                            <dt>Scene {{ $index+1 }}</dt>
                            <dd><span editable-text="scene.label">{{ scene.label || "empty" }}</span></dd>
                        </div>
                        <div class="col-md-8">
                            <dd><span editable-text="scene.value">{{ scene.value || "empty" }}</span></dd>
                        </div>
                    </div>
                </dl>
            </fieldset>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default"        ng-show="!appForm.$visible" ng-click="appForm.$show()"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                    <button type="button" class="btn btn-default cancel" ng-show=" appForm.$visible" ng-disabled="appForm.$waiting" ng-click="appForm.$cancel()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                    <button type="submit" class="btn btn-success accept" ng-show=" appForm.$visible" ng-disabled="appForm.$waiting"><span class="glyphicon glyphicon-ok"></span> Accept</button>
                </div>
            </div>
        </div>
    </div>
</form>
